@font-face {
  font-family: "Aladdin";
  src: url("../../../../public/fonts/aladdin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sidebar-menu-item {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Aladdin";
  font-size: 25px;
  font-weight: 100;
  
  &:hover {
    background-color: #fff;
    color: #000;
  }
}
