@use '@styles/_variables.scss' as *;

.navbar {
  position: relative;

  &-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    color: #fff;

    font-family: $fontAladdin;
    font-size: 30px;
    font-weight: 100;
  }
}