.tab-container {
  .tab {
    padding: 5px;
    margin: 10px;
    border: 1px solid $color-border;
    border-radius: $border-radius-medium;
    cursor: pointer;
    font-size: 30px;

    &-button {
      color: $color-accent-light;
    }
  }

  position: absolute;
  top: 10px;
  right: 10px;
  color: white;

  .active {
    color: $color-primary;
  }
}
