.tab-container {
  .tab {
    padding: 5px;
    margin: 10px;
    border: 1px solid $color-border;
    border-radius: $border-radius-medium;
    cursor: pointer;
    font-size: $font-size-medium;
    font-family: $font-prime;

    &-button {
      color: $color-accent-light;
    }
  }

  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  box-shadow: 0 2px 2px -2px $color-border;
  border-radius: $border-radius-large;
  .active {
    color: $color-primary;
  }
}

@media (max-width: 768px) {
  .tab-container {
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    .tab {
      font-size: $font-size-xbase;
    }
  }
}
