.language-switcher {
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    padding: 0.5vh;
    gap: 1vh;
    border-radius: $border-radius-large;

    &-tab {
        padding: 1vh 2vh;
        border: 1.5px solid $color-success;
        border-radius: $border-radius-xlarge;
        cursor: pointer;
        font-size: $font-size-medium;
        font-family: $font-prime;
        color: $color-white;
        background-color: transparent;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover {
            color: rgba($color-success, 0.5);
        }

        &.active {
            color: $color-success;
        }

        &:first-child {
            border-radius: $border-radius-xlarge 0 0 $border-radius-xlarge;
            border-right: 0;
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -40px;
                transform: translateY(-50%);
                width: $border-radius-xlarge;
                height: 100%;
                border-radius: 50%;
                box-shadow: 0 0 0 1px $color-success; // візуально "продовжує" рамку
                z-index: 0;
            }
        }

        &:last-child {
            border-radius: 0 $border-radius-xlarge $border-radius-xlarge 0;
            border-left: 0;
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: -40px;
                transform: translateY(-50%);
                width: $border-radius-xlarge;
                height: 100%;
                border-radius: 50%;
                box-shadow: 0 0 0 1px $color-success; // візуально "продовжує" рамку
                z-index: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .language-switcher {
        left: 50%;
        right: auto;
        bottom: 0;
        transform: translateX(-50%);
        gap: 0.5vh;

        &-tab {
            font-size: $font-size-xbase;
            padding: 0.8vh 1.5vh;
        }
    }
}