.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  cursor: pointer;

  &-container {
    cursor: auto;
    position: absolute;
    transition: opacity 0.5s ease;
    color: black;
    opacity: 0;
  }
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 9px;
  transition: transform 0.3s ease;
}
