.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  cursor: pointer;

  &-container {
    cursor: auto;
    position: absolute;
    transition: opacity 0.5s ease;
    color: $color-background-global;
    opacity: 0;
    max-width: 80%;
  }
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.modal-content {
  background-color: $color-background-global;
  padding: $padding-medium;
  border: 2px solid $color-accent;
  border-radius: 9px;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {

  .modal-container {
    max-width: 100%;
    width: 100%;
  }

  .modal-content {
    padding: 0;
  }
}