.card {
  display: flex;
  font-family: $font-prime;
  font-style: italic;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding-large;
  min-width: 350px;
  // border: 1px solid $color-primary;
  border-radius: $border-radius-large;
  // box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05);
  // transition: box-shadow 0.3s ease, transform 0.3s ease;

  &-title {
    color: $color-primary;
    font-size: $font-size-xtitle;
    font-weight: $font-weight-regular;
    text-align: center;
    padding-bottom: 0;
    margin: 0;
  }

  &-answer-input {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin: 3vh 0 2vh 0;
      font-size: $font-size-xlarge;
      border: 1px solid $color-primary;
      border-radius: $border-radius-xlarge;
      padding: $pading-xmedium;
      font-size: $font-size-medium;
      transition: border-color 0.2s ease;
      text-align: center;

      &:focus {
        border-color: $color-primary;
        outline: none;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary;
      color: #ffffff;
      border: none;
      border-radius: $border-radius-xlarge;
      cursor: pointer;
      transition: background-color 0.2s ease;
      font-size: $font-size-xlarge;
      width: 220px;
      height: 5.5vh;
      margin-top: 1vh;

      .arrow {
        img {
          display: block;
          width: 100px;
          height: 100px;
        }
      }

      &:hover {
        background-color: #6edebe;
      }
    }
  }
}

.shadow-red {
  box-shadow: 0 0 15px $color-shadow-red;
}

.shadow-blue {
  box-shadow: 0 0 15px $color-shadow-blue;
}

.shadow-yellow {
  box-shadow: 0 0 15px $color-shadow-yellow;
}

.shadow {
  transition: $transition-slow;
}

@media (max-width: 768px) {
  .card {
    padding: $padding-medium;
    &-title {
      font-size: $font-size-title;
    }

    &-answer-input {
      flex-direction: column;
      gap: 10px;
      input {
        height: 12vw;
        width: 90%;
        font-size: $font-size-medium;
        padding: $padding-small;
      }
    }

    button {
      padding: $padding-small;
      font-size: $font-size-large;
      height: 12vw;

      .arrow {
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}