.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .button {
        background-color: $color-background-global;
        border-radius: 4px;
        font-family: $font-alt;
        align-items: center;
        cursor: pointer;

        &-icon {
            display: none;
            width: 2vw;
            height: 2vw;

            &.only {
                display: block;
            }
        }
    }
}



// colors
.danger {
    color: $color-danger;
    border: 2px solid $color-danger;
}

.success {
    color: $color-success;
    border: 2px solid $color-success;
}

.none {
    background-color: aqua;
}

// size
.base {
    font-size: $font-size-base;
}

.medium {
    font-size: $font-size-medium;
}

@media (max-width: 768px) {
    .buttons {
        .button {
            border: none;

            &-name {
                display: none;
            }

            &-icon {
                display: block;
                width: 8vw;
                height: 8vw;
            }
        }
    }

    // size
    .base {
        font-size: $font-size-xsmall;
    }

    .medium {
        font-size: $font-size-base;
    }
}