.dict-list-item {
    &-add-field {
        &-button {
            position: relative;
            left: auto;
            border: 2px solid;
            border-radius: 4px;
            font-family: $font-alt;
            font-size: $font-size-medium;
            background-color: $color-background-global;
            cursor: pointer;
            color: $color-success;
            border: 2px solid $color-success;
        }
    }

}