.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;

    h1 {
        font-size: 3rem;
        margin: 0;
    }
}