.dictionary {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 2vw;
  font-family: "Courier New", Courier, monospace;
  &-remove {
    cursor: pointer;
    border: 1px solid rgb(22, 170, 22);
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 54px;
    color: white;
    background-color: transparent;
    font-family: "Courier New", Courier, monospace;
  }
  &-import {
    display: flex;
    border: 1px solid rgb(22, 170, 22);
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 54px;
  }

  label {
    cursor: pointer;
  }
  input {
    display: none;
  }
}
