html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;

}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}