// Font styles
@font-face {
  font-family: 'Aladdin';
  src: url('/fonts/aladdin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Font style
$fontRoboto: 'Roboto', sans-serif;
$fontMono: monospace;
$fontCambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$fontAladdin: 'Aladdin';

// Font Weight
$font2Sm: 100;
$fontLight: 400;
$fontMedium: 500;
$fontBold: 600;

// Font Size
$textSm: 0.9vw;
$textMd: 1.1vw;
$textLg: 1.2vw;
$textXl: 1.3vw;
$text2xl: 1.6vw;
$text3xl: 2vw;

// Title font size
$titleSm: 1.6vw;
$titleMd: 2vw;
$titleLg: 3vw;
$titleXl: 4vw;

// Button
$buttonBorder: 1px solid rgb(11, 11, 11);
$buttonActiveBackColor: rgb(246, 246, 222);

// Colors
$colorCarbon: #37372f;
$colorCarbonTransparent: rgba($colorCarbon, 0.8);
$colorBronze: #ccbca3;
$colorBronzeTransparent: rgba($colorBronze, 0.7);
$colorCream: #f7f4ef;
$colorDeepBlack: #000000;
$colorWhite: #ffffff;
$colorGrey: #555;
$colorDeepGrey: #333;
