.dict-list {
  display: flex;
  flex-direction: column;
  font-size: $font-size-large;
  overflow-y: scroll;
  max-height: 80vh;
}

@media (max-width: 768px) {
  .dict-list {
    display: flex;
    flex-direction: column;
  }
}
