.sections {
  display: flex;
  flex-direction: row;

  .section {
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid #5f6266;
  }

  .section.active {
    background-color: #5f6266;
    color: white;
  }

  .section:first-child {
    border-radius: 10px 0 0 10px;
  }

  .section:last-child {
    border-radius: 0 10px 10px 0;
  }
}
